/* global
----------------------*/
body {
    font-family: 'Rubik', sans-serif;
    position: relative;
}

.bg-gradient {
    /* background-image: url(../images/bg-img.jpg);
     background-size: 100%;
     */
     background: -moz-linear-gradient(left, #25c19b 0%, #29ce94 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(left, #25c19b 0%,#29ce94 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to right, #25c19b 0%,#29ce94 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 
 }


/* new nav
----------------------*/


.navbar {
    font-size: 18px;
    padding: 3% 8%;
    display: flex;
  }
  
  .main-nav {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-nav li {
    display: flex;
    text-align: center;
    margin: 15px auto;
    justify-content: center;
  }

  .imglogo {
      height: 50%;
      width: 50%;
  }

  .main-nav li:last-child a{
      border: #ffffff solid 1px;
      border-radius: 10%;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  
  
/*  butt
----------------------*/

.butt{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: none;
}
